body{
    margin: 0vh;
    padding: 0vh;
 
    background-color: rgb(233, 229, 229);

}

 div button{
   border-radius: 2px;
   height: 40px;
   font-size: 20px;
  
   font-family:"Noto Kufi Arabic", "Open Sans",
   

}
.hsoub-bars-icon {
    display: block;
    width: 22px;
    height: 2px;
    position: relative;
    left: 1100px;
    align-items: center;
    background-color: #efefef;
    box-shadow: 0 6px 0 0 #efefef, 0 -6px 0 0 #efefef;
}

button:hover {
    background-color: #4CAF50;
    
    
  }
 
 .my img{
    z-index: -1;
    color: #4CAF50;
    position: relative;
    left: 600px;
    width: 144px;
    
 }

header{
    background-color: #444;
    width: 100%;
    position: fixed;
    z-index: 999;
    align-items: center;
    padding: 10px 200px;
    text-align: center;

}
.my a{
  position: relative;
 bottom: 5px;
  right: 120px;
  
}
.my i{
    position: relative;
    bottom: 5px;
}
.my a{
    color:white ;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 500px;
    padding: 30px;
 
 }

.hd{
    text-align: center;
}

.sec1{
    display: flex;
    height: 250px;
    
}
.m{
    color: aliceblue;
}
.sa{
    background-image:url("https://khamsat.hsoubcdn.com/assets/images/remote-64132428314c98f2e8abe5e4b98b3a03f215fdd04788b533f52171026fb30d70.jpg");
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    width: 350px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
   
}
.open{
    width: 300px;
    overflow: hidden;
    height: 100vh;
}


.sp{
    background-image:url("https://khamsat.hsoubcdn.com/assets/images/development-bb416454cb6338d96f266211eb8d2e10fc669ddb8470ee95eef00c841df903e8.jpg");
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    width: 350px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    

}
.sm{
    background-image:url("https://khamsat.hsoubcdn.com/assets/images/bussiness-2c1f54b0bd848ce232a972323a799f3abe75235eb4f00fb0180d4ede6ac390dd.jpg");
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    width: 350px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;

}
.sn{
    background-image:url("social-5598c2401b6ca90eda3df7c69c8c4727dcc937f8cc995096456d8a8773f4d324.jpg");
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    width: 350px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;

}

.sec1{
    display: flex;
   
    height: 250px;
    
}
.m{
    color: aliceblue;
}
.sl{
    background-image:url("https://khamsat.hsoubcdn.com/assets/images/translate-ad754e21fea72c69a11e1000903e1f848812bc20e3f1033d6e44f15c249dcd61.jpg");
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    width: 350px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
   
}

.so{
    background-image:url("https://khamsat.hsoubcdn.com/assets/images/audio-93508fbd03c4ca1a20eabc10ecbf7924161d61e7139878bc93641c310d195e13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    width: 350px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
.su{
    background-image:url("https://khamsat.hsoubcdn.com/assets/images/design-17881dc3ab0928311acc42761ff77c7e9a09e077c326fbc5d373e4fe1b5ad397.jpg");
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    width: 350px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
.st{
    background-image:url("https://khamsat.hsoubcdn.com/assets/images/video-9b7fb5a1ae97544b32573e1625c5b12bb86e5fff9abfe4ae5ba7371ea86c41ae.jpg");
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    width: 350px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
p{
    opacity: 0.2px;
}

a{
    text-decoration: none;
    color: #222222;
}

button{
    
    font-size: 100%;
    background: transparent;
    color: #52b035 !important;
    box-sizing: border-box;
    border-color: #52b035;
   
}

.sec3{
    display: flex;
    height: 150px;
    margin: 10px;
    width: 350px;
    justify-content:space-between;
}


.mn{
    width: 650px;
    margin: 15px;
  
   
}
.mb{
    width: 650px;
    margin: 15px;
}

.mv{
    width: 650px;
    margin: 15px;
}

.mc{
    width: 650px;
    margin: 15px;
}
h2{
    text-align: right;
}
p{
    text-align: right;
    font-size: 20px;
    font-weight: 200px;
}


footer{
    display: flex;
    height:120px;
    background-color: white;
    margin-top: 250px;
    
    text-align:right;
    align-items: center;
    justify-content: flex-end;
   
    padding-top:400px;

}
 .fto{
    margin-top: 50px;
    margin: 80px ;
    font-size: 20px;
    padding-bottom: 100px;
    margin-bottom: 300px;
 }